<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" path="index.html" pattern="index.html" page="index.aspx" templet="index.html" channel="0" type="index" inherit="DTcms.Web.UI.Page.index" />
  <rewrite name="search" path="search.html" pattern="search.html" page="search.aspx" templet="search.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.search" />
  <rewrite name="error" path="error.html" pattern="error.html" page="error.aspx" templet="error.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.error" />
  <rewrite name="feedback" path="feedback.html" pattern="feedback.html$" page="feedback.aspx" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="feedback1" path="feedback/{0}.html" pattern="feedback/(\w+).html$" page="feedback.aspx" querystring="page=$1" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="news" path="news/{0}.html" pattern="news.html" page="news_list.aspx" templet="news_list.html" querystring="category_id=$1" channel="1" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="news_list" path="news/{0}.html" pattern="news/(\d+).html" page="news_list.aspx" querystring="category_id=$1" templet="news_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="news_list1" path="news/{0}/{1}.html" pattern="news/(\d+)/(\w+).html" page="news_list.aspx" querystring="category_id=$1^page=$2" templet="news_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="news_show" path="news/show-{0}.html" pattern="news/show-(\d+).html" page="news_show.aspx" querystring="id=$1" templet="news_show.html" channel="1" type="detail" inherit="DTcms.Web.UI.Page.news_show" />
  <rewrite name="photo" path="photo.html" pattern="photo.html" page="photo.aspx" templet="photo.html" channel="3" type="index" inherit="DTcms.Web.UI.Page.news" />
  <rewrite name="photo_list" path="photo/{0}.html" pattern="photo/(\d+).html" page="photo_list.aspx" querystring="category_id=$1" templet="photo_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="photo_list1" path="photo/{0}/{1}.html" pattern="photo/(\d+)/(\w+).html" page="photo_list.aspx" querystring="category_id=$1^page=$2" templet="photo_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="photo_show" path="photo/show-{0}.html" pattern="photo/show-(\d+).html" page="photo_show.aspx" querystring="id=$1" templet="photo_show.html" channel="3" type="detail" inherit="DTcms.Web.UI.Page.news_show" />
  <rewrite name="down" path="down.html" pattern="down.html" page="down.aspx" templet="down.html" channel="4" type="index" inherit="DTcms.Web.UI.Page.download" />
  <rewrite name="down_list" path="down/{0}.html" pattern="down/(\d+).html" page="down_list.aspx" querystring="category_id=$1" templet="down_list.html" channel="4" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_list1" path="down/{0}/{1}.html" pattern="down/(\d+)/(\w+).html" page="down_list.aspx" querystring="category_id=$1^page=$2" templet="down_list.html" channel="4" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_show" path="down/show/{0}.html" pattern="down/show/(\d+).html" page="down_show.aspx" querystring="id=$1" templet="down_show.html" channel="4" type="detail" inherit="DTcms.Web.UI.Page.download_show" />
  <rewrite name="content" path="content/{0}.html" pattern="content/(\w+).html" page="content_show.aspx" querystring="page=$1" templet="content.html" channel="5" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
  <rewrite name="content1" path="content/show/{0}.html" pattern="content/show/(\d+).html" page="content_show.aspx" querystring="id=$1" templet="content.html" channel="5" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
</urls>