 <div class="footer">
            <div class="footercenter">
            <p><span>
			<a class="footera" href="./contact/index.html">联系我们</a><span> | </span>
            <a class="footera" href="./pages/sitemap.html">法律声明</a><span> | </span>
            <a class="footera" href="./pages/falv.html">招聘信息</a><span> | </span>
            <a class="footera" href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备12013776号</a>
			</span><br /><br />
            <span class="copyri">Copyright ⓒ 20012  UWILL.ORG.CN. All rights reserved.  版权所有 优为精英教育机构</span>
        	</p>
            <div class="partner">
                <span style="font-family:'微软雅黑', '宋体';font-size:14px;color:#124a85;letter-spacing:2px;padding:0;margin:0;">合作机构</span>
                <select onchange="openerLink(this.value);" class="partnerselect">
                <option value="-1">【合作机构】</option> 
                <option value="#">&nbsp;&nbsp;&nbsp;&nbsp;民生银行</option>
                <option value="#">&nbsp;&nbsp;&nbsp;&nbsp;崇尚百货</option>
                <option value="#">&nbsp;&nbsp;&nbsp;&nbsp;北大青鸟</option>
                <option value="#">&nbsp;&nbsp;&nbsp;&nbsp;雨花西餐厅</option>
                <option value="-1">【友情链接】</option>
                <option value="http://www.baidu.com">&nbsp;&nbsp;&nbsp;&nbsp;百度</option>
                </select><br /><br />
                <div class="qrcode">
                <img src="{config.templateskin}/images/qrcode_for_gh_238f347649d8_258.jpg" width="100" height="100" />
                </div>
            </div>
            </div>
    </div>