<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="qc:admins" content="15202442776571446727636" />
<title>优为精英教育Sub01</title>
<link href="css/uwill.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/fisheye-iutil.min.js"></script>
<script type="text/javascript" src="js/jquery.jqDock.min.js"></script>
<script type="text/javascript" src="js/uwill.js"></script>
</head>

<body>
<div class="main">
    <div class="container_12">
	<%template src=/_header.html/%>
    <!--主图-->
      <div class="grid_12"><img src="images/sub_bg.png" width="940" height="236" /></div>
      <div class="clear"></div>
      <div class="grid_12 subtop">
      	<div class="grid_3 fix_ml10 alpha">
        	<div class="left_tit_top">
            	<div class="sologon"><span>优为精英教育</span></div>
                <div class="clear" ></div>
            	<div class="cat"><span>关于我们</span></div>
            </div>
            <div class="left_tit_content">
            	<ul>
                	<li><a href="#">子菜单1</a></li>
                    <li><a href="#" class="select">子菜单2</a></li>
                    <li><a href="#">稍微长一点的比较长的子菜单2</a></li>
                </ul>
            </div>
            <div class="left_tit_bottom"></div>
            <div class="clear"></div>
            <div class="left_contact">
            <img src="images/left_contact_01.png" width="190" height="16" /><br />
            <img src="images/left_contact_02.png" width="190" height="102" /></div>
          <div class="left_contact">
       	  <img src="images/left_contact_adr_01.png" width="190" height="16" /><br />
          <a href="http://j.map.baidu.com/vfp6K" title="优为精英教育机构报名地址：衡阳市雁峰区蒸阳南路崇业写字楼7楼702" target="_blank"><img src="images/baidu_adr.png" width="190" height="118" alt="优为学校地址" /></a>
          </div>
        </div>
        <div class="grid_9 fix_ml10 omega">
        	<div class="sub_content">
            	<div class="side">
                	<a href="#">　首页</a> &gt;
    <a href="huiyuanfuwu.aspx" >会员服务</a> &gt; <a href="huiyuanruhuizhiyin.aspx" >入会指引</a> &gt; <a href="ruhuiliucheng.aspx" >入会流程</a>
                </div>
                <div class="clear"></div>
                <div class="bigtitle">
                	<h1>关于我们</h1>
                    <h2>关于我们简介关于我们简介关于我们简介关于我们简介关于我们简介关于我们简介</h2>
                </div>
                <div class="clear"></div>
                <div class="art_list">
                	<ul>
                    	<li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                    	<li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                        <li>
                        	<a href="#">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六</a><span>2013-4-5</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
      </div> 

  </div><!-- end container_12 -->
</div><!-- end Main -->
    <%template src=/_footer.html/%>
</body>
</html>
