    <!--[if lte IE 6]> 
    <div id="ie6-warning">您正在使用 Internet Explorer 6，在本页面的显示效果可能有差异。建议您升级到 <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a> 或以下浏览器： <a href="http://www.mozillaonline.com/">Firefox</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome</a> / <a href="http://www.apple.com.cn/safari/">Safari</a> / <a href="http://www.operachina.com/">Opera</a> 
    </div> 
    <script type="text/javascript"> 
    function position_fixed(el, eltop, elleft){ 
    // check if this is IE6 
    if(!window.XMLHttpRequest) 
    window.onscroll = function(){ 
    el.style.top = (document.documentElement.scrollTop + eltop)+"px"; 
    el.style.left = (document.documentElement.scrollLeft + elleft)+"px"; 
    } 
    else el.style.position = "fixed"; 
    } 
    position_fixed(document.getElementById("ie6-warning"),0, 0); 
    </script> 
    <![endif]--> 
    <!--菜单-->
        <div class="grid_12 indexmenu  mt10">
            <div class="grid_3 logo alpha">
            <a href="http://www.uwill.org.cn" target="_self" title="优为精英教育机构网站" ><img src="{config.templateskin}/images/logo.png" width="169" height="60" alt="优为精英教育网站LOGO" /></a></div>
            <div class="grid_9 omega">
                <div class="grid_7 alpha">
                    <div class="grid_7 menu">
                        <ul>
                            <li><a href="#" target="_self" title="优为课程表"><div style=" background-image:url({config.templateskin}/images/dotdot_27.png); background-position:top left; background-repeat:no-repeat;" ><span id="menuspan">课程表</span></div></a></li>
                            <li><a href="#" target="_self" title="关于优为">关于优为</a></li>
                            <li><a href="#" target="_self" title="精彩活动">精彩活动</a></li>
                            <li><a href="#" target="_self" title="会员服务">会员服务</a></li>
                            <li><a href="#" target="_self" title="资料下载">资料下载</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="grid_7 submenu">
                        <div class="subleft"></div>
                        <div class="subcon">
                            <ul>
                                <li><a class="submenulink" href="#" title="全年龄段学习计划" target="_blank">全年龄段学习计划</a></li>
                                <li><a class="submenulink" href="#" title="NLP亲子学堂" target="_blank">NLP亲子学堂</a></li>
                                <li><a class="submenulink" href="#" title="国际夏冬令营" target="_blank">国际夏冬令营</a></li>
                                <li><a class="submenulink" href="#" title="出国留学顾问" target="_blank">出国留学顾问</a></li>
                            </ul>
                        </div>
                        <div class="subright"></div>
                    </div>
                </div>
                <div class="grid_2 omega">
                    <div class="mt8 listmenubg"><a  class="listmenu" href="javascript:window.external.AddFavorite('http://www.uwill.org.cn','优为精英教育机构-一切为了孩子，为了一切孩子，为了孩子一切')" title="">收藏网站</a></div>
                    <div class="mt8 listmenubg"><a class="listmenu" href="" title="">设为首页</a></div>
                </div>
            </div>
      </div>
    <div class="clear"></div>