<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{config.webtitle}</title>
<meta content="{config.webkeyword}" name="keywords">
<meta content="{config.webdescription}" name="description">
<link href="{config.templateskin}/css/uwill.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{config.templateskin}/js/jquery.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/fisheye-iutil.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/jquery.jqDock.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/uwill.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
<script type="text/javascript">
	$(function(){
		var jqDockOpts = {align: 'center', duration: 200, labels: 'tc', size: 140, distance: 100};
		$('#jqDock').jqDock(jqDockOpts);
	});
	$(document).ready(function() {
	var myar = setInterval('AutoScroll("#scrollDiv")', 3000)
	$("#scrollDiv").hover(function() { clearInterval(myar); }, function() { myar = setInterval('AutoScroll("#scrollDiv")', 3000) }); //当鼠标放上去的时候，滚动停止，鼠标离开的时候滚动开始
    });
</script>
    <script language="javascript" type="text/javascript">
        $(function () {
            PicHover(".banner_title", ".banner_pic");
        });
    </script>
</head>

<body>
<div class="main">
    <div class="container_12">
	<%template src=/_header.html/%>
    <!--主图-->
    <div class="grid_12">
        <div class="grid_9 alpha">
        <img src="{config.templateskin}/images/mainpic_03.png" width="668" height="295" />
        </div>
        <div class="grid_3 omega">
                <div id="dockContainer">
                    <ul id="jqDock">
                        <li><a class="dockItem" href="index.html"><img src="{config.templateskin}/images/ad_ico2_03.png" alt="Home" /></a></li>
                        <li><a class="dockItem" href="example2.html"><img src="{config.templateskin}/images/ad_ico2_03.png" alt="Contact" /></a></li>
                        <li><a class="dockItem" href="example3.html"><img src="{config.templateskin}/images/ad_ico2_03.png" alt="portfolio" /></a></li>
                    </ul>
                </div><!-- end div #dockContainer -->
        </div>
        <div class="clear"></div>
    </div>
    <div class="grid_12">
        <div class="grid_9 searchbg alpha">
            <div id="scrollDiv">
                <ul>
                <%set (DataTable){uwillnews}=get_news_list(1, 33, 20,"is_lock=0","add_time desc")%>
                <%loop newsdr uwillnews%>
                	<li><a class="soroll" title="{newsdr[title]}" target="_blank" href="<%linkurl("news_show",{newsdr[id]})%>"><%cutstring({newsdr[content]},45)%></a></li>
                <%/loop%>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_12 mt10">
        <div class="grid_9 alpha">
            <div class="grid_3 alpha">
                <div><img src="{config.templateskin}/images/freeappoint.png" width="220" height="28" /></div>
                <div>
                <form action="freeappoint.aspx" method="post" name="sub_freeApp" target="_blank">
                    <table class="tb_appoint" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>学员姓名：</td>
                        <td><input class="inputstyle" name="a_name" type="text" maxlength="20" /></td>
                      </tr>
                      <!--<tr>
                        <td>学院年龄：</td>
                        <td><select name="a_age"><option>1</option></select></td>
                      </tr>-->
                      <tr>
                        <td>联系手机：</td>
                        <td><input class="inputstyle" name="a_phone" type="text" /></td>
                      </tr>
                        <tr>
                        <td>验证码：</td>
                        <td><input class="iptsmall" name="a_code" type="text" /><img src="../tools/verify_code.ashx" width="70" height="22" alt="点击切换验证码" title="点击切换验证码" style="margin-left:5px;vertical-align:top;cursor:pointer;" onclick="ToggleImgCode(this, '../tools/verify_code.ashx');return false;" /></td>
                      </tr>
                      <tr>
                        <td colspan="2"><input type="image" src="{config.templateskin}/images/sub_button1.png" alt="免费预约试听课程" height="24px" width="122px" /><span class="f_right"><a class="redemp" href="<%linkurl("content","privacy")%>" title="客户联系方式隐私保护条款" target="_blank">*隐私保护条款</a></span></td>
                      </tr>
                    </table>
                </form>
                </div>
            </div>
            <div class="grid_6 omega">
                <div class="subpic">
                  <div id="banner">
                    <div class="banner_title">
                    <ul>
                    <%set (DataTable){classlist}=get_news_list(1, 37, 5, "is_lock=0")%>
                    <%loop classdr classlist%>
                    <li><h1><a href="<%linkurl("news_show",{classdr[id]})%>" title="{classdr[title]}" target="_blank"  class="selected"><%cutstring({classdr[content]},15)%></a></h1></li>
                    <%/loop%>
                    </ul>
        
                    </div>
                    <div class="banner_pic">
                        
                    <ul>
                    <%set (DataTable) {classlist1}=get_news_list(1, 37, 5, "is_lock=0")%>
                    <%loop classdr1 classlist1%>
                    <li><a href="<%linkurl("news_show",{classdr1[id]})%>" title="{classdr1[title]}" target="_blank"><img src="{classdr1[img_url]}" alt="{classdr1[title]}" height="142" width="308"/></a></li>
                    <%/loop%>
                    </ul>
            
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="grid_3 omega">
            <div class="right_clum">
                <div class="right_title"><img src="{config.templateskin}/images/contact_01.png" width="220" height="28" /></div>
                <div class="t_contact"><img src="{config.templateskin}/images/contact_02.png" width="220" height="127" /></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_12 mt10">
    	<div class="grid_9 alpha">
        	<div class="grid_3 alpha">
            	<div class="newtitlebg">
                <h2>最新活动</h2>
                </div>
              <div class="newsindexlist">
              <ul>
              <%set (DataTable){hdlist}=get_news_list(1, 34, 7, "is_lock=0")%>
              <%loop hddr hdlist%>
                <li><a class="nl" href="<%linkurl("news_show",{hddr[id]})%>" title="{hddr[title]} target="_blank"><%cutstring({hddr[content]},26)%></a><span><%datetostr({hddr[add_time]},MM-dd)%></span> </li>
              <%/loop%>
              </ul>
              </div>
          </div>
            <div class="grid_6 alpha">
            	<div class="idxteacherbg"></div>
                       <div class="rollBox">
                    <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseout="ISL_StopUp()" onmouseup="ISL_StopUp()">
                        &nbsp;</div>
                    <div class="Cont" id="ISL_Cont">
                        <div class="ScrCont">
                            <div id="List1">
                                <!-- 图片列表 begin -->
                                <%set (DataTable){lslist}=get_news_list(1, 42, 20, "is_lock=0")%>
                                <%loop lsdr lslist%>
                                <div class="pic">
                                   <img alt="{lsdr[title]}" onclick="window.open('<%linkurl("news_show",{lsdr[id]})%>');" src="{lsdr[img_url]}" style="cursor: pointer;" title="{lsdr[title]}" /></div>                                
                                <%/loop%>
                                <!-- 图片列表 end --></div>
                            <div id="List2">
                                &nbsp;</div>
                        </div>
                    </div>
                    <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseout="ISL_StopDown()" onmouseup="ISL_StopDown()">
                        &nbsp;</div>
                </div>
                <script language="javascript" type="text/javascript">
					var Speed = 0.01; //速度(毫秒)
					var Space = 20; //每次移动(px)
					var PageWidth = 420; //翻页宽度
					var fill = 0; //整体移位
					var MoveLock = true;
					var MoveTimeObj;
					var Comp = 0;
					var AutoPlayObj = null;
					GetObj("List2").innerHTML = GetObj("List1").innerHTML;
					GetObj('ISL_Cont').scrollLeft = fill;
					GetObj("ISL_Cont").onmouseover = function(){
						clearInterval(AutoPlayObj);
						}
					GetObj("ISL_Cont").onmouseout = function(){
						AutoPlay();
						}
					AutoPlay(); 
                </script>
            </div>
            <!--<div class="grid_3 alpha mt10"><img src="images/adv1.png" width="220" height="150" /></div>-->
            <div class="grid_3 alpha mt10">
            <%set (DataTable){xmxlist}=get_news_list(1, 43, 1,"is_lock=0")%>
            <%loop xmxdr xmxlist%>
            <img src="{xmxdr[img_url]}" alt="{xmxdr[title]}" width="220" height="189" />
            <%/loop%>
            </div>
            <div class="grid_6 alpha mt10">
                <div class="cctvstarbg"></div>
                <div class="iphoto_list">
                	    <div class="list">
                          <ul>
                            <%set (DataTable){hdphotolist}=get_news_list(3, 0, 6, "is_lock=0 and is_red=1")%>
                            <%loop hdphotodr hdphotolist%>
                            <li class="a<%write hdphotodr__loop__id%>">
                              <img src="{hdphotodr[img_url]}" alt="{hdphotodr[title]}" />
                              <a title="{hdphotodr[title]}" href="<%linkurl("photo_show",{hdphotodr[id]})%>">查看详情</a><i class="absbg"></i>
                            </li>
                            <%/loop%>
                          </ul>
                        </div>

                </div>
          </div>
        </div>
        <%template src=/_weibosrc.html/%>
    </div>
    <div class="clear"></div>
    </div><!-- end container_12 -->
</div><!-- end Main -->
     <%template src=/_footer.html/%>
</body>
</html>
