<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set (string){category_title}=get_category_title({category_id},"优为资讯")%>
<title>{category_title} - {config.webname}</title>
<link href="{config.templateskin}/css/uwill.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{config.webpath}css/pagination.css" />
<script type="text/javascript" src="{config.templateskin}/js/jquery.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/fisheye-iutil.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/jquery.jqDock.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/uwill.js"></script>
</head>

<body>
<div class="main">
    <div class="container_12">
	<%template src=/_header.html/%>
    <!--主图-->
      <div class="grid_12"><img src="{config.templateskin}/images/sub_bg.png" width="940" height="236" /></div>
      <div class="clear"></div>
      <div class="grid_12 subtop">
      	<div class="grid_3 fix_ml10 alpha">
       	<div class="left_tit_top">
            	<div class="sologon"><span>优为精英教育</span></div>
                <div class="clear" ></div>
            	<div class="cat"><span>{channel.title}</span></div>
            </div>
            <div class="left_tit_content">
            	<ul>
                    <%set (DataTable){category_list1}=get_category_child_list(channel_id, 0)%>
       				<%loop cdr1 category_list1%>
                    <%if {strtoint({cdr1[id]})}=={category_id}%>
                    <li><a class="select" href="<%linkurl("news_list",{cdr1[id]})%>">{cdr1[title]}</a></li>
                    <%else%>
                    <li><a href="<%linkurl("news_list",{cdr1[id]})%>">{cdr1[title]}</a></li>
                    <%/if%>
                    <%/loop%>
                </ul>
            </div>
            <div class="left_tit_bottom"></div>
            <div class="clear"></div>
            <div class="left_contact">
            <img src="{config.templateskin}/images/left_contact_01.png" width="190" height="16" /><br />
            <img src="{config.templateskin}/images/left_contact_02.png" width="190" height="102" /></div>
          <div class="left_contact">
       	  <img src="{config.templateskin}/images/left_contact_adr_01.png" width="190" height="16" /><br />
          <a href="http://j.map.baidu.com/vfp6K" title="优为精英教育机构报名地址：衡阳市雁峰区蒸阳南路崇业写字楼7楼702" target="_blank"><img src="{config.templateskin}/images/baidu_adr.png" width="190" height="118" alt="优为学校地址" /></a>
          </div>
        </div>
        <div class="grid_9 fix_ml10 omega">
        	<div class="sub_content">
            	<div class="side">
                <%set (string){sub_menu}=get_category_menu("news_list",{category_id})%>
                
                	<a href="/">　首页</a>{sub_menu}
                </div>
                <div class="clear"></div>
                <div class="bigtitle">
                	<h1>{category_title}</h1>
                    <h2></h2>
                </div>
                <div class="clear"></div>
                <div class="art_list">
                	<ul>
                      <%set (DataTable){news_list}=get_news_list(channel_id, category_id, 10, page, "", out totalcount)%> <!--取得一个DataTable-->
                      <%set (string){pagelist}=get_page_link(10, page, totalcount, "news_list1", category_id, "__id__")%> <!--取得分页页码列表-->
                      <%loop listdr news_list%>
                      <li>
                        <a href="<%linkurl("news_show",{listdr[id]})%>" title="note">{listdr[title]}</a><span><%datetostr({listdr[add_time]},yyyy-MM-dd)%></span>
                      </li>
                      <%/loop%>
                    </ul>
                </div>
            </div>
            <div class="flickr">{pagelist}</div> <!--放置页码列表-->
        </div>
        <div class="clear"></div>
      </div> 

  </div><!-- end container_12 -->
</div><!-- end Main -->
    <%template src=/_footer.html/%>
</body>
</html>
